span.nugoo {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	font: inherit !important;
	text: inherit !important;
	color: inherit !important;
	background: inherit !important;
	cursor: pointer;
}
span.nugoo:hover, span.nugoo:active {
	background-color: transparent !important;
	background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}
.ui-tooltip {
	position: absolute;
	z-index: 9999;
}
.nugoo-tooltip {
	overflow: hidden;
	border-radius: 8px;
}
