span.nugoo {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	font: inherit !important;
	text: inherit !important;
	color: rgba(0, 0, 0, 0.8) !important;
	background-color: transparent !important;
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
	cursor: pointer;
}
span.nugoo:hover, span.nugoo:active {
	background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}
